<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Thay đổi mật khẩu</strong>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="oldpass">Nhập mật khẩu cũ <span class="red">(*)</span></label>
                                <div class="col-md-9">
                                    <input type="password" id="oldpass" name="oldpass" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                                    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.oldPassword.errors.required">Vui  lòng nhập mật khẩu cũ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="newpass">Nhập mật khẩu mới <span class="red">(*)</span></label>
                                <div class="col-md-9">
                                    <input type="password" id="newpass" name="newpass" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.newPassword.errors.required">Vui  lòng nhập mật khẩu mới</div>
                                        <div *ngIf="f.newPassword.errors.minlength">Mật khẩu mới phải có ít nhất 6 kí tự</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="confirmpass">Xác nhận mật khẩu mới <span class="red">(*)</span></label>
                                <div class="col-md-9">
                                    <input type="password" id="confirmpass" name="confirmpass" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Vui lòng xác nhận lại mật khẩu mới</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu không trùng nhau</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4 offset-lg-4">
                                    <button type="submit" class="btn btn-block btn-success">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/.row-->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>