<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Danh Mục Tài Khoản</strong>
            <div class="card-header-actions">
                Tổng: {{ total }}
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" routerLink="./new"> <i class="fa fa-plus icon"></i>Thêm mới</button>
                </div>

                <div class="col-md-4 offset-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search by name">
                    </div>
                </div>
            </div>
            <table class="table table-bordered  table-striped  table-responsive-lg text-center">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Username</th>
                        <th style="width: 30%;">Họ tên</th>
                        <th style="width: 30%;">Khoa/Phòng</th>
                        <th>Active</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users; let i = index">
                        <th>{{ i + 1 }}</th>
                        <td>{{ item?.username }}</td>
                        <td>{{ item?.hoten }}</td>
                        <td>{{ item?.khoaphong?.name }}</td>
                        <td>{{ item?.active === true ? 'Đang hoạt động' : 'Off' }}</td>
                        <td>
                            <button type="button" class="btn btn-warning" [routerLink]="['./new', item._id]" routerLinkActive="router-link-active">Sửa</button>
                        </td>
                    </tr>
                    <tr *ngIf="total <= 0">
                        <td style="text-align:center" colspan="10">Chưa có dữ liệu</td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="col-md-12 text-right">
                <ngb-pagination [collectionSize]="total" [pageSize]="pageSize" [(page)]="pageIndex" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)" style="float: right;">
                </ngb-pagination>
            </div> -->
        </div>
    </div>
</div>