<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Bệnh Nhân Đang Khám</strong>
                    <div class="card-header-actions">
                      Tổng: <span class="badge badge-pill badge-success">{{tongDangKhams}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-7">
                                <input class="form-control" type="text" placeholder="Tìm kiếm theo tên BN">
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Tìm kiếm theo tên BN">
                                </div>

                            </div>
                        </div>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">STT</th>
                                <th scope="col">Họ Tên</th>
                                <th scope="col" style="width: 5%;">Tuổi</th>
                                <th scope="col" style="width: 7%;">Ngày Khám</th>
                                <th scope="col">Bác Sĩ Khám</th>
                                <th scope="col" style="width: 26%; text-align: center;">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dsDangKham; let id = index;">
                                <td>{{ id + 1 }}</td>
                                <td>{{ item?.HoTen }}</td>
                                <td>{{ item?.BenhNhan?.Tuoi }}</td>
                                <td>
                                  {{ item.GioBatDauKham | date:'dd/MM hh:mm'}}
                                </td>
                                <td></td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-pill btn-success" (click)="getPhieuKham()">Khám</button>
                                  <button type="button" class="btn btn-sm btn-pill btn-warning ml-1" (click)="callBenhNhan()"> <i class="fa fa-volume-up"></i>&nbsp;Gọi</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="col-md-12 text-right">
                      <!-- <div class="col-md-10 text-right" *ngIf="totalItems > itemsPerPage"> -->
                      <ngb-pagination [collectionSize]="tongDangKhams" [pageSize]="pageSize" [(page)]="pageIndex" [maxSize]="5" [rotate]="true" (pageChange)="loadPageDangKham($event)" style="float: right;">
                      </ngb-pagination>
                      <!-- </div> -->
                  </div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Bệnh Nhân Chờ Khám</strong>
                    <div class="card-header-actions">
                        Tổng:<span class="badge badge-pill badge-danger">{{tongChoKhams}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-6">
                                <select class="form-control" [(ngModel)]="id_default" (change)="onChange($event.target.value)" name="select">
                                    <option [value]="item._id" *ngFor="let item of phongKhams;">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" placeholder="Tìm kiếm theo tên BN">
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:5%">STT</th>
                                <th style="width:35%">Họ và tên</th>
                                <th style="width:5%">Tuổi</th>
                                <th style="width:5%">Số</th>
                                <th>Ngày khám</th>
                                <th class="text-center" style="width:30%">#</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of listChoKhams; let i = index;">
                            <tr>
                                <td class="text-center">{{ i+1 }}</td>
                                <td>{{ item.BenhNhan?.HoTen }}</td>
                                <td class="text-center">{{item?.BenhNhan?.Tuoi }}</td>
                                <td class="text-center">{{item?.LuotKham}}</td>
                                <td>{{ item.NgayDonTiep | date:'dd/MM hh:mm'}}</td>
                                <td class="action_user">
                                    <button type="button" class="btn btn-pill btn-success" (click)="getPhieuKham(item._id)">Khám</button>
                                    <button type="button" class="btn btn-pill btn-warning ml-1" (click)="callBenhNhan(item)"> <i class="fa fa-volume-up"></i>&nbsp;Gọi</button>
                                </td>
                            </tr>
                            <tr *ngIf="tongChoKhams <=0">
                                <td class="text-center" colspan="6">Không có dữ liệu</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul> -->
                    <div class="col-md-12 text-right">
                      <!-- <div class="col-md-10 text-right" *ngIf="totalItems > itemsPerPage"> -->
                      <ngb-pagination [collectionSize]="tongChoKhams" [pageSize]="pageSize" [(page)]="pageIndex" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)" style="float: right;">
                      </ngb-pagination>
                      <!-- </div> -->
                  </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>
