<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Thêm mới danh mục dân tộc</strong>

        </div>
        <div class="card-body">
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="ma">Mã <span class="red">(*)</span></label>
                    <div class="col-md-9">
                        <input type="text" id="ma" formControlName="ma" name="text-input" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Tên <span class="red">(*)</span></label>
                    <div class="col-md-9">
                        <input type="text" id="name" formControlName="name" name="text-input" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="stt-input">Thứ tự ưu tiên</label>
                    <div class="col-md-9">
                        <input type="email" id="stt-input" formControlName="STT" name="email-input" class="form-control">
                    </div>
                </div>

                <div class="form-group row mt-7">
                    <div class="col-3 offset-3">
                        <button type="submit" class="btn btn-block btn-primary">Lưu lại</button>
                    </div>
                    <div class="col-3">
                        <button (click)="returnPage()" type="button" class="btn btn-block btn-secondary">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>