<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Bệnh Nhân Đang Đón Tiếp (Tổng: Bệnh Nhân)</strong>
        </div>
        <div class="card-body">
            <form [formGroup] class="form-horizontal">
                <div class="form-group row">
                    <div class="col-3">
                        <select class="form-control" name="select">
                            <option [ngValue]="null" disabled>Tất cả phòng khám</option>
                            <option [value]="item" *ngFor="let item of phongKhams;">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="form-control" name="select">
                            <option [ngValue]="null" disabled>Tất cả loại khám</option>
                            <option [value]="item" *ngFor="let item of phongKhams;">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="text" placeholder="" class="form-control" bsDaterangepicker [bsConfig]="{ isAnimated: true }" style="text-align: center; justify-content: center;">
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" placeholder="Tìm kiếm theo tên BN">
                    </div>
                </div>
            </form>
            <table class="table table-striped table-hover table-responsive-lg">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ Tên/MSBN</th>
                        <th>Năm Sinh</th>
                        <th>Phòng Khám</th>
                        <th>Số</th>
                        <th>Bác Sỹ Khám</th>
                        <th>Ngày</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>