<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Bệnh Nhân Đang Đón Tiếp (Tổng: Bệnh Nhân)</strong>
        </div>
        <div class="card-body">

            <div class="form-row">
              <div class="form-group col-md-2">
                <label>Phòng khám</label>
                  <select class="form-control" name="select">
                    <option [ngValue]="null">Tất cả phòng khám</option>
                    <option [value]="item" *ngFor="let item of phongKhams;">{{item.name}}</option>
                  </select>
              </div>
              <div class="form-group col-md-2">
                <label>Loại khám</label>
                  <select class="form-control" name="select">
                    <option [ngValue]="null" >Tất cả loại khám</option>
                    <option [value]="item" *ngFor="let item of loaiKhams;">{{item.name}}</option>
                  </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputPassword4">Ngày bắt đầu</label>
                <div class="input-group">
                  <input class="form-control" placeholder="__-__-____"
                          name="dp" [(ngModel)]="ngayBatDau" ngbDatepicker #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputPassword4">Ngày kết thúc</label>
                <div class="input-group">
                  <input type='text' class="form-control" placeholder="__-__-____"
                          name="dp" [ngModel]="ngayKetThuc | date: 'dd-mm-yyyy'" ngbDatepicker #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Tìm kiếm theo tên bệnh nhân</label>
                <input class="form-control" type="text" placeholder="Nhập tên BN">
              </div>
            </div>
            <table class="table table-striped table-hover table-responsive-lg">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ Tên/MSBN</th>
                        <th>Năm Sinh</th>
                        <th>Phòng Khám</th>
                        <th>Số</th>
                        <th>Bác Sỹ Khám</th>
                        <th>Ngày</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
