<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Danh Mục Dịch Vụ Kỹ Thuật</strong>
            <div class="card-header-actions">
                Tổng:
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" routerLink="../create-or-update"> <i class="fa fa-plus icon"></i>Thêm mới</button>
                </div>

                <div class="col-md-4 offset-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search by name">
                    </div>
                </div>
            </div>
            <table class="table table-bordered  table-striped  table-responsive-lg text-center">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã DV</th>
                        <th style="width: 24%;">Tên</th>
                        <th>Loại DVKT</th>
                        <th>Giá DV</th>
                        <th>Giá BH</th>
                        <th>BHYT</th>
                        <th>Hoạt động</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <!-- <tfoot> -->

                <!-- </tfoot> -->
            </table>
            <div class="col-md-12 text-right">
                <!-- <div class="col-md-10 text-right" *ngIf="totalItems > itemsPerPage"> -->
                <!-- <ngb-pagination [collectionSize]="total" [pageSize]="pageSize" [(page)]="pageIndex" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)" style="float: right;">
                </ngb-pagination> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>