.hr-line-dashed {
    border-top: 1px dashed #5cb85c;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    /* margin: 10px 0; */
}

.tt {
    font-size: 11px;
    font-weight: 700;
}

.input-sm {
    font-size: 10px!important;
}

.text-ck {
    font-size: 12px!important;
    margin: 9px 15px;
    font-weight: 700;
}

th {
    text-transform: capitalize;
}

.chi-dinh-dvkt {
    margin: 0 1rem;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.image {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    .image2 {
        height: 56px;
        margin: .5rem;
    }
}

.text-the {
    font-size: 13px;
}