// @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');


.hr-line-dashed {
    border-top: 1px dashed #5cb85c;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    /* margin: 10px 0; */
}

.tt {
    font-size: 11px;
    font-weight: 700;
}

.input-sm {
    font-size: 10px!important;
}

.text-ck {
    font-size: 12px!important;
    margin: 9px 15px;
    font-weight: 700;
}

th {
    text-transform: capitalize;
}

.chi-dinh-dvkt {
    margin: 0 1rem;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.image {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    .image2 {
        height: 56px;
        margin: .5rem;
    }
}

.text-the {
    font-size: 13px;
}

.tb {
    border-right: 1px solid #ddd;
}

.icon {
    cursor: pointer;
    color: red;
}

.modal-footer {
    justify-content: center;
}

.table-responsive {
    padding-bottom: 0;
    padding: 1rem;
    padding-right: 0;
}

a.ma{
    color: #428bca;
    text-decoration: none;

}
.item-ma{
    text-align: center;
}
.square{
  width: 1rem;
  height: 1rem;
  background-color: red;
  border: none;
}
.custom-bh{
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid green;
}

label {
  font-weight: 600;
}

form {
  width: 100%;
}
