.red {
    color: red;
}

.nho {
    font-size: 10px;
}
.kiemtra {
  background: red;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  justify-content: center;
}


/* .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;
} */
