/* .location-text {
    text-align: left;
}

*/

@media screen and (max-width: 480px) {
    .location-text {
        text-align: left !important;
    }
}


/* .col-form-label {
    font-weight: bold;
} */

hr.new2 {
    border-top: 1px dashed greenyellow;
}

.col-form-label {
    font-weight: 500;
}


/* .location-text {
    text-align: left !important;
} */