// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
@import "custom";
@import "~@ng-select/ng-select/themes/default.theme.css";
.icon {
    margin-right: 5px;
}

.red {
    color: red;
}

.title-pk {
    color: #006e86;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.onwer-bn {
    font-weight: 600;
}